name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build in base directory
      run: |
        make clean 
        make all
        test -f libaps.base.so || (echo "libaps.base.so not found!" && exit 1)
        test -f libaps.base.a || (echo "libaps.base.a not found!" && exit 1)
